{% extends "layout.html" %}

{% block content %}

<section class="content">
<div class="container-fluid pr-5 pl-5">

<div class="contact">
 <div class="container bootstrap snippet">
    <div class="profile card">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <img class="img-thumbnail md-margin-bottom-10" src="{{ url_for('static', filename='images/paulo.png') }}" style="width: 50%;" alt="">
                    </div>
                    <div class="col-md-7">
                        <h2>Paulo Martins</h2>
                        <span><strong>Profissão:</strong> Informático / Investigação</span>
                        <hr>
                        <p>Email: paulo.jorge.pm@ilch.uminho.pt</p>
                        <p>Currículo: <a href="{{ url_for('static', filename='documents/cv_en_europass_paulo.pdf') }}" target="_blank"> Link</a></p>
                        <p>Ciência Vitae: <a href="https://www.cienciavitae.pt/pt/E21C-96CA-84E1" target="_blank"> Link</a></p>
                        <p>Portfólio: <a href="http://www.paulojorgepm.net/portfolio" target="_blank"> http://www.paulojorgepm.net/portfolio</a></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


 <div class="container bootstrap snippet">
    <div class="profile card">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md-5 text-center">
                        <img class="img-thumbnail md-margin-bottom-10" src="{{ url_for('static', filename='images/leandro.png') }}" style="width: 50%;" alt="">
                    </div>
                    <div class="col-md-7">
                        <h2>Leandro Costa</h2>
                        <span><strong>Profissão:</strong> Engenheiro Informático</span>
                        <hr>
                        <p>Email: leandro.costa16@hotmail.com</p>
                        <p>Apresentação: <a href="{{ url_for('static', filename='documents/Resume-leandro.pdf') }}" target="_blank"> Link</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!--contact-->

</div><!-- /.container-fluid -->
</section>


<script>

</script>

{% endblock %}
