{% extends "layout.html" %}

{% block content %}

<section class="content">
<div class="container-fluid pr-5 pl-5">

<div class="container activities-list">
<blockquote>
<p clas="text-right"><em>«You can have data without information, but you cannot have information without data.»</em></p>
<span class="author"><i>—Daniel Keys Moran (Escritor e Programador)</i></span>
</blockquote>

<h1 class="h1 display-2 text-center" style="font-weight:bold;text-shadow: 2px 2px 1px #f4f6f9;color:#333333;"><i>Major Minors</i></h1>

<p class="lead text-justify">Ontologia de recortes de imprensa de jornais portugueses com referência a minorias, entre os quais um <i>corpus</i> de artigos, comentários e imagens. O <i>corpus</i> abarca as duas primeiras décadas do século XXI. Este projeto produziu uma base de dados ontológica, ou seja, uma árvore de relações semânticas e referências hierarquizadas, que pretende contribuir para um retrato da representação de minorias pela opiniõa pública portuguesa, tendo por base jornais portugueses (<i>corpus</i> principal atual: Jornal Público 1996-2018 e parte de 2019 - ficheiros <i>HTML</i> obtidos através do <a href="https://arquivo.pt/" target="_blank">Arquivo.pt</a>, repositório nacional que arquiva as páginas <i>web</i> portuguesas desde 1996).</p>

<p class="lead text-justify">Plataforma incubada por dois alunos/investigadores de pós-graduação da Universidade do Minho, com o objetivo de servir de repositório <i>open-source</i> de apoio à comunidade científica. O projeto conta com a colaboração de Grupos de Investigação do Centro de Estudos Humanísticos da Universidade do Minho (<a href="http://cehum.ilch.uminho.pt/" target="_blank">CEHUM</a>), nomeadamente o <a href="https://retratorepresentacao.wixsite.com/girr" target="_blank">Grupo2i</a>, colaborador principal, no âmbito de investigação de Estudos de Identidade, e o <a href="http://ceh.ilch.uminho.pt/ghd/" target="_blank">GHD</a>, no âmbito do processamento e análise linguística, para além do apoio do Departamento de Informática da Universidade do Minho (<a href="https://www.di.uminho.pt/" target="_blank">DI</a>). O objetivo do projeto passa por ser uma ferramenta de investigação para as áreas socioculturais e humanísticas, um <i>corpus</i> textual para análise linguística (principalmente no âmbito dos comentários dos utilizadores nas plataformas digitais dos jornais) e,  pela sua componente ontológica e <i>software</i> produzido para mineração/tratamento de dados, uma ferramenta informática.</p>

<p class="lead text-justify">O <i>corpus</i> do projeto será atualizado e expandido anualmente com o material jornalístico do ano transato e novas fontes (conforme disponibilização pelo <a href="https://arquivo.pt/" target="_blank">Arquivo.pt</a>). Para além das bases de dados criadas, as ferramentas informáticas produzidas serão também disponibilizados em formato aberto <i>open-source</i> e a produção científica associada divulgada na presente plataforma.</p>

<br><br>

<p class="text-center"><iframe width="854" height="480" src="https://www.youtube.com/embed/-atqhRtx0To" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<!--<br><br>
<p class="text-center"><img src="{{ url_for('static', filename='images/icons/logo-big.png') }}" style="width:25%;height:25%;"></p>
-->

</div>


</div><!-- /.container-fluid -->
</section>



{% endblock %}
