{% extends "layout.html" %}

{% block content %}

<section class="content">
<div class="container-fluid pr-5 pl-5">

<p class="lead">A DISPONIBILIZAR EM BREVE</p>
<p class="text-center"><img src="{{ url_for('static', filename='images/ampulheta2.png') }}"></p>

</div><!-- /.container-fluid -->
</section>


<script>

</script>

{% endblock %}
