{% extends "layout.html" %}
{% block head %}
<link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
<link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css>
<link rel=stylesheet href="{{ url_for('static', filename='vue/style.css') }}">
<link rel=stylesheet href="{{ url_for('static', filename='vue/all.min.css') }}">
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.c14f3ce1.css') }}" rel=preload as=style>
<link href="{{ url_for('static', filename='vue/js/app.b14186fb.js') }}" rel=preload as=script>
<link href="{{ url_for('static', filename='vue/js/chunk-vendors.c8f595d1.js') }}" rel=preload as=script>
<link href="{{ url_for('static', filename='vue/css/chunk-vendors.c14f3ce1.css') }}" rel=stylesheet></head>

<style type="text/css">
#app {
background:transparent;
}
#loading-icon-search {
top:60px;
}
</style>
{% endblock %}

{% block content %}
<section class="content">
<div class="container-fluid pr-5 pl-5">

<body><noscript><strong>We're sorry but spws-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script src="{{ url_for('static', filename='vue/js/chunk-vendors.c8f595d1.js') }}"></script><script src="{{ url_for('static', filename='vue/js/app.8fed5736.js') }}"></script>


</div><!-- /.container-fluid -->
</section>

{% endblock %}